---
layout: ""
page_title: "Provider: On-Demand Environments provider"
description: |-
  The On-Demand Environments provider allows managing of z/OS instances and Linux targets as Terraform resources.

---

# On-Demand Environments provider

The On-Demand Environments provider is used to manage On-Demand z/OS Environments with [IBM Test Accelerator for Z](https://www.ibm.com/products/test-accelerator-z) as Terraform resources.
The On-Demand Environments provider is currently compatible with On-demand Development and Test environments for z/OS release version 1.0.2. 

For installation and configuration details of On-demand Development and Test environments for z/OS, see the [documentation page](https://www.ibm.com/docs/en/test-accelerator-for-z/1.0.0). 

The On-Demand Environments provider is intended to be used with IBM Terraform for Z and LinuxONE.
To learn about the Terraform for Z components, and how to install, configure, and provision infrastructure for the product 
offering, see the [documentation website](https://www.ibm.com/docs/en/terraform-z-linuxone).

## Example Usage

The following examples demonstrate how to use the On-Demand Environments provider in different scenarios.

### Example of configuring provider credentials

{{ tffile "examples/provider/provider.tf" }}

### Example of provider with data source configuration

The following example shows ode_image data source:

{{ tffile "examples/data-sources/ode_image/data-source.tf" }}

### Example of provider with target configuration

The following example shows ode_target resource: 

{{ tffile "examples/resources/ode_target/resource.tf" }}

### Example of an instance

The following example shows an ode_instance resource with an ode_image data source and an ode_target resource: 

{{ tffile "examples/resources/ode_instance/resource_data_target.tf" }}


{{ .SchemaMarkdown | trimspace }}